<nav>
    <div class="left">
        <h3>SoundScribe</h3>
    </div>
    <div class="center">
        <div><a href="/">home</a></div>
        <div><a href="/upload">upload</a></div>
        <div><a href="http://localhost:3000/player/1_Impossible">music_player</a></div>
        <div><a href="/show">Show</a></div>
    </div>
    <div class="right"> </div>

</nav>